/* memberikan warna pada background utama */
.bg-color{
    background-color: #023E24;
}
.bg-card{
    background-color: #F2E8DF;
} 


.txt-color{
    color: #DBAE84; /* memberikan warna pada text navbar */
}

.txt-brand{
    color: #DBAE84; /* memberikan warna pada text brand */
}

/* mengatur warna pada footer */
.bg-footer{
    background-color: #F2E8DF;
    text-color: #000;
}

.bg-button{
    background-color:#BC6949;
    color: #fff;
}