.btn-custom{
    background-color: #BC6949;
    color: #fff;
}
.btn-custom:hover{
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #BC6949;
    color: #BC6949;
}


.btn-outline{
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #BC6949;
    color: #fff;
}
.btn-outline:hover{
    background-color: #BC6949;
    color: #fff;
}

.custom-navbar:hover{
    box-shadow: inset 0 0 2px 0 #BC6949;
}

.btn-delete-link{
    text-decoration: none;
    &:hover, &:focus {
        text-decoration: none;
    }
}

.txt-underline{
    color: #DBAE84;
    &:hover, &:focus{
        box-shadow: inset 0 -3px 0 0 #BC6949; /*memberikan border saat hover pada navbar*/
        color: #DBAE84; 
    }
}