@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('@fontsource/poppins'); 
@import "@fontsource/poppins/400.css"; /* Regular */
@import "@fontsource/poppins/500.css"; /* Medium */
@import "@fontsource/poppins/600.css"; /* Semi-Bold */
@import "@fontsource/poppins/700.css"; /* Bold */



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input{
  border: solid 1px black;
  border-radius: 7px;
  height: 35px;
  /* width: 100%; */
}

textarea{
  border: solid 1px black;
  border-radius: 7px;
  /* width: 100%; */
}
